In [56]:
import numpy as np
import pandas as pd

In [57]:
data = pd.read_csv("car_prices.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [58]:
data.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [59]:
data['body'].value_counts()

body
Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
cab plus 4          1
g37 coupe           1
CTS-V Wagon         1
Ram Van             1
cts wagon           1
Name: count, Length: 87, dtype: int64

In [60]:
data['model'].value_counts()

model
Altima        19349
F-150         14479
Fusion        12946
Camry         12545
Escape        11861
              ...
rrs               1
golf              1
g500              1
tahoe             1
458 Italia        1
Name: count, Length: 973, dtype: int64

In [61]:
# Drop the specified columns vin, condition, interior, seller, mmr, saledate
data = data.drop(columns=['vin', 'condition', 'interior', 'seller', 'mmr', 'saledate'])
data.head(5)

,year,make,model,trim,body,transmission,state,odometer,color,sellingprice
0,2015,Kia,Sorento,LX,SUV,automatic,ca,16639.0,white,21500.0
1,2015,Kia,Sorento,LX,SUV,automatic,ca,9393.0,white,21500.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,1331.0,gray,30000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,14282.0,white,27750.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,2641.0,gray,67000.0

In [62]:
data_filtered = data[(data['year'] >= 2010) & (data['odometer'] < 210000)]
data_filtered

,year,make,model,trim,body,transmission,state,odometer,color,sellingprice
0,2015,Kia,Sorento,LX,SUV,automatic,ca,16639.0,white,21500.0
1,2015,Kia,Sorento,LX,SUV,automatic,ca,9393.0,white,21500.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,1331.0,gray,30000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,14282.0,white,27750.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,2641.0,gray,67000.0
...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,18255.0,silver,33000.0
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,54393.0,white,30800.0
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,50561.0,black,34000.0
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,16658.0,white,11100.0
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,15008.0,gray,26700.0

In [63]:
# Get value counts for the 'body' column
body_counts = data_filtered['body'].value_counts()

# Filter 'body' counts to only include those with more than 20 occurrences
valid_bodies = body_counts[body_counts > 30].index
# valid_bodies
# # Filter the DataFrame to only include rows with valid 'body' values
data_filtered = data_filtered[data_filtered['body'].isin(valid_bodies)]

print(data_filtered)

        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 K900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission state  odometer   color  sellingprice
0         automatic    ca   16639.0   white       21500.0
1         automatic    ca    9393.0   white       21500.0
2         automatic    ca    1331.0    gray       30000.0
3         automatic    ca   14282.0   white       27750.0
4         automatic    ca    2641.0    gray       67000.0
...             ...   ...       ...     ...           ...
558832          NaN    in   18255.0  silver       33000.0
558833    automatic    wa   54393.0   white       30800.0
558834    automatic    ca   50561.0   black       34000.0
558835    automatic    ga   16658.0   white       11100.0
558836    automatic    ca   15008.0    gray       26700.0

[362356 rows x 10 columns]

In [64]:
data_filtered['body'] = data_filtered['body'].str.capitalize()
data_filtered['body'].value_counts()

/var/folders/qb/tvzkwqt52_n972_c7m7cktn00000gn/T/ipykernel_20117/4034973355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['body'] = data_filtered['body'].str.capitalize()

body
Sedan                  169116
Suv                     90438
Hatchback               20151
Minivan                 16785
Coupe                   10055
Crew cab                 9734
Wagon                    9133
G sedan                  7417
Supercrew                6736
Convertible              5071
Van                      2781
Regular cab              2589
Supercab                 2531
E-series van             1811
Quad cab                 1662
G coupe                  1593
Extended cab             1453
Double cab               1376
Crewmax cab               416
G convertible             323
Genesis coupe             294
Koup                      180
King cab                  174
Access cab                158
Cts coupe                 129
Elantra coupe              79
Beetle convertible         52
Promaster cargo van        49
Q60 convertible            38
Q60 coupe                  32
Name: count, dtype: int64

In [65]:
data_filtered

,year,make,model,trim,body,transmission,state,odometer,color,sellingprice
0,2015,Kia,Sorento,LX,Suv,automatic,ca,16639.0,white,21500.0
1,2015,Kia,Sorento,LX,Suv,automatic,ca,9393.0,white,21500.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,1331.0,gray,30000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,14282.0,white,27750.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,2641.0,gray,67000.0
...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,18255.0,silver,33000.0
558833,2012,Ram,2500,Power Wagon,Crew cab,automatic,wa,54393.0,white,30800.0
558834,2012,BMW,X5,xDrive35d,Suv,automatic,ca,50561.0,black,34000.0
558835,2015,Nissan,Altima,2.5 S,Sedan,automatic,ga,16658.0,white,11100.0
558836,2014,Ford,F-150,XLT,Supercrew,automatic,ca,15008.0,gray,26700.0

In [66]:
# Define a function to clean the 'body' column
def clean_body(body):
    if 'coup' in body or 'Koup' in body or 'koup' in body:
        return 'coupe'
    elif 'convertible' in body:
        return 'convertible'
    elif 'cab' in body:
        return 'cab'
    elif 'van' in body:
        return 'van'
    elif 'sedan' in body:
        return 'sedan'
    else:
        return body

data_filtered['body'] = data_filtered['body'].str.lower().apply(clean_body)
data_filtered['body'].value_counts()

/var/folders/qb/tvzkwqt52_n972_c7m7cktn00000gn/T/ipykernel_20117/2441568313.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['body'] = data_filtered['body'].str.lower().apply(clean_body)

body
sedan          176533
suv             90438
van             21426
hatchback       20151
cab             20093
coupe           12362
wagon            9133
supercrew        6736
convertible      5484
Name: count, dtype: int64

In [67]:
# Randomly select 4000 rows
df_sampled = data_filtered.sample(n=6000, random_state=1)
df_sampled

,year,make,model,trim,body,transmission,state,odometer,color,sellingprice
183903,2012,Volkswagen,Beetle,2.0T White Turbo Launch Edition PZEV,hatchback,automatic,ca,47489.0,black,12500.0
211695,2010,GMC,Sierra 2500HD,SLE,cab,automatic,tn,92981.0,white,20800.0
184114,2011,Ford,Expedition,XLT,suv,automatic,fl,45363.0,black,22800.0
501560,2010,Toyota,4Runner,Limited,suv,automatic,ga,76927.0,blue,24000.0
339028,2010,Chevrolet,Cobalt,LS,sedan,automatic,il,73228.0,silver,5500.0
...,...,...,...,...,...,...,...,...,...,...
460046,2014,Ford,E-Series Van,E-250,van,automatic,wa,8415.0,white,19200.0
517582,2011,Acura,RDX,Base,suv,automatic,il,45550.0,black,16300.0
331528,2014,Chrysler,Town and Country,Touring,van,automatic,il,8339.0,black,20600.0
425153,2011,Dodge,Journey,Mainstreet,suv,automatic,oh,35960.0,black,14200.0
188650,2013,Chrysler,300,S,sedan,automatic,md,74102.0,black,16500.0

In [68]:
df_sampled['body'].value_counts()

body
sedan          2912
suv            1473
van             353
cab             342
hatchback       334
coupe           211
wagon           174
supercrew       109
convertible      92
Name: count, dtype: int64

In [69]:
# Define the bins and labels for odometer groups
bins = [0, 20000, 40000, 60000, 80000, 100000, 210000]
labels = ['0-20k', '20k-40k', '40k-60k', '60k-80k', '80k-100k', 'More than 100k']

df_sampled['odometer_custom'] = pd.cut(df_sampled['odometer'], bins=bins, labels=labels, right=False)
df_sampled.head(20)

,year,make,model,trim,body,transmission,state,odometer,color,sellingprice,odometer_custom
183903,2012,Volkswagen,Beetle,2.0T White Turbo Launch Edition PZEV,hatchback,automatic,ca,47489.0,black,12500.0,40k-60k
211695,2010,GMC,Sierra 2500HD,SLE,cab,automatic,tn,92981.0,white,20800.0,80k-100k
184114,2011,Ford,Expedition,XLT,suv,automatic,fl,45363.0,black,22800.0,40k-60k
501560,2010,Toyota,4Runner,Limited,suv,automatic,ga,76927.0,blue,24000.0,60k-80k
339028,2010,Chevrolet,Cobalt,LS,sedan,automatic,il,73228.0,silver,5500.0,60k-80k
544872,2013,Hyundai,Elantra,GLS,sedan,automatic,mi,49669.0,beige,9600.0,40k-60k
12887,2010,Toyota,Camry,Base,sedan,automatic,fl,103638.0,gold,8200.0,More than 100k
99022,2011,Nissan,Leaf,SL,hatchback,automatic,ca,41537.0,white,10400.0,40k-60k
220839,2012,Ford,Edge,SEL,suv,automatic,ca,28951.0,black,20600.0,20k-40k
521615,2012,BMW,X3,xDrive28i,suv,automatic,fl,20194.0,blue,26000.0,20k-40k
450137,2014,Nissan,Altima,2.5 S,sedan,automatic,tn,32761.0,black,13600.0,20k-40k
442751,2013,Infiniti,G Sedan,G37x,sedan,automatic,tn,20351.0,black,20200.0,20k-40k
110103,2014,GMC,Savana Cargo,2500,van,automatic,mo,1110.0,white,22800.0,0-20k
512329,2013,Hyundai,Sonata,GLS,sedan,automatic,fl,28774.0,blue,12100.0,20k-40k
168493,2012,Ford,F-150,STX,cab,NaN,nc,132011.0,gray,13500.0,More than 100k
86377,2010,Dodge,Journey,SXT,suv,automatic,mo,101641.0,red,7000.0,More than 100k
294252,2012,BMW,5 Series,528i,sedan,automatic,fl,34100.0,white,28000.0,20k-40k
271638,2014,Hyundai,Accent,GLS,sedan,automatic,ca,14463.0,gray,11400.0,0-20k
442858,2012,BMW,3 Series,328i,convertible,automatic,ca,42520.0,white,25000.0,40k-60k
286973,2010,Subaru,Forester,2.5X Premium,suv,automatic,oh,69479.0,silver,13600.0,60k-80k

In [70]:
tmp = df_sampled[df_sampled['year'] == 2011]
tmp['odometer_custom'].value_counts()

odometer_custom
20k-40k           222
40k-60k           206
60k-80k           149
80k-100k          104
More than 100k     79
0-20k              30
Name: count, dtype: int64

In [71]:
df_sampled.to_csv("car_prices_sample_cleaned.csv", index=False)